<div class="container">
  <nav class='navbar navbar-default' role='navigation'>
    <ul class='nav navbar-nav'>
      <li>{{#link-to 'brackets'}}All Brackets{{/link-to}}</li>
      <li>{{#link-to 'new-bracket'}}Make a New Bracket{{/link-to}}</li>
      <li>{{#link-to 'teams'}}Team{{/link-to}}</li>
    </ul>
  </nav>
{{outlet}}
</div>
