<h1>Brackets</h1>
<p>
  Click your bracket to make your picks!
</p>
<ul>
{{#each bracket in model}}
  <li>{{#link-to 'bracket' bracket}}{{bracket.bracketName}}{{/link-to}}</li>
{{/each}}
</ul>

<a href="/">Go Home</a>
