<h1>{{model.bracketName}}</h1> <a href="/#/brackets">Back to all brackets</a>
<br>


<div class="row">
  <div class="col-sm-2">
    <h3>Round 1</h3>
    {{#each round in bracket}}
      {{round.roundName}}
    {{/each}}
  </div>
  <div class="col-sm-2">
    <h3>Round 2</h3>
  </div>
  <div class="col-sm-2">
    <h3>Round 3</h3>
  </div>
</div>
