<h1>{{model.bracketName}}</h1> <a href="/#/brackets">Back to all brackets</a>
<br>
{{#link-to 'teams'}}Region 1{{/link-to}} ||
{{#link-to 'region2'}}Region 2{{/link-to}} ||
{{#link-to 'region3'}}Region 3{{/link-to}} ||
{{#link-to 'region4'}}Region 4{{/link-to}}

<h3>Region 1</h3>

<div class="row">
  <div class="col-sm-2">
    <ul>
      {{#each team in model}}
      <li>{{team.school}}</li>
      {{/each}}
    </ul>
  </div>
</div>
