<h1>Make Your Bracket!</h1>

<form>
  {{input type="text" value=newBracketName id="newBracketName" placeholder="Enter a new Bracket Name"}}
  <button type="submit" {{action "save"}}>make a bracket!</button>
</form>
